@charset "UTF-8";

body.dark {
    background-color: #1f1f1f;
    color: #f0f0f0;
}

.navbar.dark {
    background-color: #0f0f0f;
}

.concave-button.dark {
    --bg-color: transparent;
    --hov-color: #333;
    --color: #f0f0f0;
}

.navbar > .navbar-content.dark {
    background-color: #0f0f0f;
}

.navbar .navbar-items .nav-link.dark {
    margin: 0 .25rem;
    font-size: large;
    --bg-color: transparent;
    --hov-color: #333;
}

.navbar .navbar-items .nav-link.selected.dark {
    background-color: #333;
}

.card.dark, .project.dark {
    background-color: #333;
}

.header-link.dark {
    --bg-color: #333;
    --hov-color: #2a2a2a;
}

/*связаться*/
.feedback-form.dark {background-color: #333;}
.feedback-form .text-input.dark {
    border: 2px #777 solid;
    background-color: #1a1a1a;
    color: #efefef;
}

.feedback-form .text-input.dark:focus {
    border: 2px #fefefe solid;
}

.feedback-form input[type="submit"].dark {
    background-color: #198755 !important;
    color: #efefef
}

.feedback-form input[type="reset"].dark {
    background-color: #dc3544 !important;
    color: #efefef
}

.связаться .wrapper .motivation-text small.dark {
    color: #333;
}

.footer.dark {
    background-color: #0f0f0f;
}